body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game {

  width: 100vw;
  height: 100vw;

  margin: 0 auto;
  margin-top: 80%;

  background-color: #34495e;
  color: #fff;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr)
}

.game>div {
  border: 6px solid #2c3e50;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  /* update cursor style, remove text seletion */
  cursor: pointer;
  user-select: none;
}

.btn {
  border: 5px solid #2c3e50;
  background-color: #34495e;
  color: white;
  margin-top: 10px;
  padding: 10px 20px
}

.game > div.winner {
  background: yellow;
}

.game > div.winner > span {
  color: blue;
}

.score-board {

  text-align: center;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  width: 100%;
  height: auto;

  max-height: 25%;

  position: fixed;
  
  background-color: bisque;

  border: 1px;

  box-shadow: 5px 0px 4px 0px #ddd !important;
}

.score {
  display: flex;
  
  flex-wrap: wrap;
  flex-direction: row;

  height: 50%;
}

.score div {
  width: 33%;
  height: 50%;

  font-size: 14pt;
  font-weight: bold;
  color: #000000;
}

.score-board .title {
  font-size: 20pt;
  font-weight: bold;
}


.score-board button {
  height: 25%;

  color: #333;

  border-radius: 0px;
  border: solid #333 1px;

  cursor: pointer;

  background-color: #fff;

  font-size: 14pt;
}

.score-board button:hover {
  transition: 300ms;
  background-color: #000000;
  color: #fff;
}

@media (min-width: 250px) {
  .game {
    margin-top: 60%;
  }
}

@media (min-width: 400px) {
  .game {
    margin-top: 35%;
  }
}

@media (min-width: 600px) {
  .game {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    border: 6px solid #2c3e50;
    margin-top: 25%;
  }

  .game>div {
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .btn {
    cursor: pointer
  }
  .game {
    margin-top: 10%;
  }
}
