.game {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
	display: none; /* display: grid; */
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.game > div {
  border: 6px solid #2c3e50;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.start > button {
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 5px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 4em;
}