.game {
    position:relative;
    width: 600px;
	  height: 600px;
	  margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
}

.game > canvas#render{
    width: 600px;
    height:600px; 
    border-radius: 2px;    
}